:root {
  --main-color: #113953;
  --main-dark: #18496B;
  --main-bright: #2B76AB;
}
/*.container {
  width: 600px;
  margin: 0 auto;
}*/
body {
  background: var(--main-color);
  color: white;
  text-align: center;
}
h1 {
  text-align: center;
}
label {
  display: none;
}
input {
  font-size: 0.9em;
  border-radius: 5px;
  border: var(--main-dark) 1px solid;
  padding: 0.3rem;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  padding: 0;
  text-align: left;
}
.btn {
  background: #0288D1;
  font-size: 0.9em;
  border-radius: 5px;
  border: var(--main-dark) 1px solid;
  padding: 0.3rem;
}
.results li {

  list-style: none;
  border-left: green solid 4px; /* Add this as a transistion on hover */
  padding: 0 5% 0.1em;
}
.results li:nth-child(even) {
  background: var(--main-dark);
  color: white;
}
.results li:nth-child(odd) {
  background: var(--main-bright);
  color: black;
}