:root {
  --main-color: #113953;
  --main-dark: #18496B;
  --main-bright: #2B76AB;
}
/*.container {
  width: 600px;
  margin: 0 auto;
}*/
body {
  background: var(--main-color);
  color: white;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  padding: 0;
}
.results li {

  list-style: none;
  border-left: green solid 4px; /* Add this as a transistion on hover */
  padding: 0 5% 0.1em;
}
.results li:nth-child(even) {
  background: var(--main-dark);
  color: white;
}
.results li:nth-child(odd) {
  background: var(--main-bright);
  color: black;
}