:root {
  --main-color: #113953;
  --main-dark: #18496B;
  --main-bright: #2B76AB;
  --main-very-bright-blue: #0288D1;
  --main-turqoise: #5CB3C6;
}
body {
  background: var(--main-color);
  color: white;
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 16px;
}
label {
  display: none;
}
input {
  font-size: 0.9em;
  border-radius: 5px;
  border: var(--main-dark) 1px solid;
  padding: 0.3rem;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  padding: 0;
  text-align: left;
}
@media (min-width: 850px) {
  .container {
    width: 600px;
    margin: 0 auto;
  }
}
@media (min-width: 1050px) {
  .container {
    width: 800px;
    margin: 0 auto;
  }
}
@media  only screen and (min-device-pixel-ratio: 2), 
    only screen and (min-width: 767px) and (max-width: 1110px) {
  body {
    font-size: 32px;
  }
  .container {
    width: 100%;
  }
}
.btn {
  background: var(--main-very-bright-blue);
  font-family: 'Quicksand', sans-serif;
  font-size: 0.9em;
  border-radius: 5px;
  border: var(--main-dark) 1px solid;
  padding: 0.3rem;
  color: black;
}
.results li {
  list-style: none;
  padding: 0 5% 0.1em;
}
.results li:hover {
  border-left: var(--main-turqoise) solid 5px; 
}
.results li:nth-child(even) {
  background: var(--main-dark);
  color: white;
}
.results li:nth-child(odd) {
  background: var(--main-bright);
  color: black;
}
.result_description {
  font-family: 'Quicksand', sans-serif;
}